@page "/admin/media/datatable"
@inject NavigationManager nav
@inject FilesIServices sev
@code {
    [Parameter]
    public List<Files> FileItems { get; set; }

    private async Task DeleteFile(long id)
    {
        // Logic xóa tệp
        await sev.Delete(id);
        FileItems = await sev.GetAll(); // Tải lại danh sách sau khi xóa
    }


}

<div class="d-grid" style="grid-template-columns: repeat(7, 1fr); gap: 16px">
    @if (FileItems != null)
    {
        @foreach (var file in FileItems)
        {
            <div class="image-item" data-name="@file.Name" data-id="@file.Id">
                <button type="button" class="btn btn-default p-0 m-0 btn-choose-image" data-bs-toggle="modal" data-bs-target="#file-@file.Id" style="width: 100%">
                    <img src="@file.Path" class="w-100 object-fit-cover" alt="IMG" height="150" />
                </button>

                @* Modal Component *@
                <div class="modal fade" id="file-@file.Id" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel-@file.Id" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <img src="@file.Path" class="w-100 object-fit-contain" style="height: 444px" alt="@file.Name" />
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <p>Đã tải lên vào lúc: @(file.Created_at.HasValue ? file.Created_at.Value.ToString("dd/MM/yyyy HH:mm:ss") : "N/A")</p>
                                        <p>Tên tập tin: @file.Name</p>
                                        <p>Loại tập tin: @file.Mine</p>
                                        <p>Kích thước: @file.Size KB</p>
                                        <p>File URL: <a href="@file.Path" target="_blank">@file.Path</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                <button type="button" class="btn btn-danger" @onclick="() => DeleteFile(file.Id)">Xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

