@inject FilesIServices sev
@inject IJSRuntime JS

@code {
    [Parameter]
    public List<Files> listFiles { get; set; }

    private async Task DeleteFile(long id)
    {
        try
        {
            await sev.Delete(id);
            listFiles = await sev.GetAll();
            await JS.InvokeVoidAsync("toastr.success", "Xoá thành công.");
            await JS.InvokeVoidAsync("closeModal", id); // Lệnh đóng modal
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await JS.InvokeVoidAsync("toastr.error", "Xoá thất bại.");
            Console.Error.WriteLine($"Error deleting file: {ex.Message}");
        }
    }
}
<div class="d-grid" style="grid-template-columns: repeat(7, 1fr); gap: 16px">
    @if (listFiles != null)
    {
        @foreach (var file in listFiles)
        {
            <div class="image-item" data-name="@file.Name" data-id="@file.Id">
                <button type="button" class="btn btn-default p-0 m-0 btn-choose-image" data-bs-toggle="modal" data-bs-target="#file-@file.Id" style="width: 100%">
                    <img src="@file.Path" class="w-100 object-fit-cover" alt="IMG" height="150" />
                </button>

                <div class="modal fade" id="file-@file.Id" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <img src="@file.Path" class="w-100 object-fit-contain" style="height: 444px" alt="@file.Name" />
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <p>Đã tải lên vào: @(file.Created_at?.ToString("dd/MM/yyyy HH:mm:ss") ?? "N/A")</p>
                                        <p>Tên tập tin: @file.Name</p>
                                        <p>Loại tập tin: @file.Mine</p>
                                        <p>Kích thước: @file.Size KB</p>
                                        <p>File URL: <a href="@file.Path" target="_blank">@file.Path</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                <button type="button" class="btn btn-danger" @onclick="async () => await DeleteFile(file.Id)">Xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
