@page "/admin/productVarians"
@inject NavigationManager Navigation
@inject IProductVariantServices productVarians
@inject IProductAttributeServices productAttribute
@inject IStyleServices StyleServices
@inject ISizeServices SizeServices
@inject IMaterialServices MaterialService
@inject ITextile_technologyServices Textile_technologyServices
@inject IJSRuntime JS

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col d-flex gap-3">
                    <h2 class="page-title">Danh sách sản phẩm chi tiết</h2>
                    <a href="/Admin/productVariant/Create" class="btn btn-sm btn-outline-primary">
                        Thêm sản phẩm chi tiết
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="card">
                <div class="card-body">
                    <!-- Search form -->
                    <div class="search-box d-flex align-items-center justify-content-between mb-3">
                        <div></div>
                        <EditForm Model="product_posts" OnValidSubmit="@OnSearch">
                            <div class="form-group d-flex gap-2">
                                <InputText id="search_input" class="form-control" @bind-Value="search_query" placeholder="Nhập từ khóa tìm kiếm" />
                                <button type="submit" class="btn btn-outline-primary">Tìm kiếm</button>
                            </div>
                        </EditForm>
                    </div>
                    <!-- Product Table -->
                    <div id="table-default" class="table-responsive">
                        @if (product_Varians_list != null && product_Varians_list.Any())
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID sản phẩm</th>
                                        <th>
                                            <button class="table-sort">Tên sản phẩm</button>
                                        </th>
                                        <th>
                                            <button class="table-sort">Mô tả</button>
                                        </th>
                                        <th>
                                            <button class="table-sort" >Công nghệ dệt</button>
                                        </th>
                                        <th>
                                            <button class="table-sort" >Chất liệu</button>
                                        </th>
                                        <th>
                                            <button class="table-sort">Phong cách</button>
                                        </th>
                                        <th>
                                            <button class="table-sort" >Trạng thái</button>                        
                                        </th>
                                        <th>
                                            <button class="table-sort">Hành động</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var post in product_Varians_list)
                                    {
                                        <tr class="post-row">
                                            <td>@post.Id</td>
                                            <td>
                                                @post.Posts.Title
                                                <br />
                                                <div class="cell-action">
                                                    <a class="cell-action-edit text-primary" @onclick="() => NavEditCtgr(post.Id)">Chỉnh sửa</a>
                                                    <a class="cell-action-delete text-danger" @onclick="() => ConfirmDelete(post.Id)">Xóa</a>
                                                </div>
                                            </td>
                                            <td>@post.Description</td>
                                            <td class="sort-type">
                                                @(TextileTechnology_list.FirstOrDefault(t => t.Id == post.Textile_technology_id)?.Title ?? "N/A")
                                            </td>
                                            <td class="sort-tags">
                                                @(Material_list.FirstOrDefault(m => m.Id == post.Material_id)?.Title ?? "N/A")
                                            </td>
                                            <td class="sort-tags">
                                                @(Style_list.FirstOrDefault(s => s.Id == post.Style_id)?.Title ?? "N/A")
                                            </td>
                                            <td class="sort-status">
                                                <span class="@post.Status">@post.Status</span>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-outline-primary" @onclick="() => ShowAttributes(post.Id)">DS biến thể</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="mt-4">
                                <Pagination TItem="Product_Posts" PageNumber="page_number" TotalPages="total_pages" PageSize="page_size" TotalItems="totalItems" OnPageChanged="GoToPage" OnPageSizeChanged="OnPageSizeChanged" />
                            </div>
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-center">Không có dữ liệu</td>
                            </tr>
                        }

                    </div>
                    @if (showAttributes)
                    {
                        @if (productAttributesList != null && productAttributesList.Any())
                        {
                            <div class="mt-4">
                                <h3>Danh sách các biến thể của sản phẩm " @productPostTitle " </h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID biến thể</th>
                                            <th>Hình ảnh</th>
                                            <th>SKU</th>                 
                                            <th>Gía gốc</th>
                                            <th>Gía khuyến mãi</th>
                                            <th>Số lượng kho</th>
                                            <th>Màu sắc</th>
                                            <th>Kích thước</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var attributes in productAttributesList)
                                        {
                                            <tr>
                                                <td>@attributes.Id</td>
                                                <td><img src="@attributes.Image" alt="Hình ảnh" style="width: 80px; height: auto;" /></td>
                                                <td>@attributes.SKU</td>
                                                <td>@string.Format("{0:N0}", attributes.Regular_price).Replace(".", ",") VNĐ</td>
                                                <td>
                                                    @if (attributes.Sale_price.HasValue)
                                                    {
                                                        @string.Format("{0:N0}", attributes.Sale_price.Value).Replace(".", ",")      <span>VNĐ</span>
                                                    
                                                    }
                                                    else
                                                    {
                                                        <span>#N/A</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (attributes.Stock == 0)
                                                    {
                                                        <span style="color: red;">Hết hàng</span>
                                                    }
                                                    else
                                                    {
                                                        @attributes.Stock
                                                    }
                                                </td>

                                                <td class="text-center">
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <span class="text-truncate">@attributes.Color?.Title</span>
                                                        <div class="color-preview"
                                                             style="width: 16px; height: 16px; background-color: @attributes.Color?.Color_code; border-radius: 50%; border: 1px solid #ddd; margin-left: 8px;">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>@attributes.Size?.Title</td>                        
                                                <td>
                                                    <button class="btn btn-sm btn-outline-primary" @onclick="() => OpenUpdateProductAttributeModal(attributes.Id)">Sửa thông tin</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="mt-4">
                                <h3>Danh sách Product Attributes</h3>
                                <div class="text-center">Không có dữ liệu</div>
                            </div>
                        }
                        @if (isUpdateProductAttributeModal)
                        {
                            <div class="modal fade show d-block" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80%; width: auto;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Cập nhật biến thể của @productPostTitle</h5>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-bordered table-striped align-middle">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 8%;">SKU</th>
                                                        <th style="width: 8%;">Hình ảnh</th>
                                                        <th style="width: 5%;">Màu sắc</th>
                                                        <th style="width: 9%;">Kích thước</th>
                                                        <th style="width: 10%;">Gía gốc</th>
                                                        <th style="width: 5%;">Số lượng tồn kho</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <input type="text" @bind="@selectedAttribute.SKU" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <div class="image-container d-flex align-items-center justify-content-center"
                                                                 style="width: 100px; height: 100px; border: 1px solid #ddd; border-radius: 5px;">
                                                                @if (!string.IsNullOrEmpty(selectedAttribute.Image))
                                                                {
                                                                    <img src="@selectedAttribute.Image" class="img-fluid w-100 h-100" style="object-fit: cover;" />
                                                                }
                                                                else
                                                                {
                                                                    <div class="icon d-flex align-items-center justify-content-center"
                                                                         style="width: 100%; height: 100%; font-size: 24px; color: #999;">
                                                                        <i class="fas fa-plus"></i>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </td>
                                                        <td>@selectedAttribute.Color?.Title</td>
                                                        <td>
                                                            <div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                                                @selectedAttribute.Size?.Title
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <input type="text"
                                                                       class="form-control"
                                                                       value="@string.Format("{0:N0}", selectedAttribute.Regular_price).Replace(".", ",")"
                                                                       @oninput="FormatCurrency"
                                                                       @onchange="UpdatePrice" />
                                                                <span class="input-group-text">VNĐ</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input type="text" @bind="@selectedAttribute.Stock" class="form-control" style="max-width: 120px;" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-between">
                                            <button type="button" class="btn btn-primary" @onclick="UpdateProductAttribute">Xác nhận</button>
                                            <button type="button" class="btn btn-secondary" @onclick="CloseUpdateProductAttributeModal">Hủy</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<Product_variants> product_Varians_list = new List<Product_variants>();
    private List<Size> Size_list = new List<Size>();
    private List<Material> Material_list = new List<Material>();
    private List<Textile_technology> TextileTechnology_list = new List<Textile_technology>();
    private List<Style> Style_list = new List<Style>();
    private List<Product_Attributes> productAttributesList = new List<Product_Attributes>();
    private Product_Attributes selectedAttribute = new Product_Attributes();
    private Product_Posts product_posts = new Product_Posts();
    private bool showAttributes = false;
    private bool isUpdateProductAttributeModal = false;
    private string productPostTitle;

    private string search_query = string.Empty;
    private int page_number = 1;
    private int total_pages = 1;
    private int page_size = 10;
    private int totalItems;

    protected override async Task OnInitializedAsync()
    {
        await LoadPosts();
    }
    private void FormatCurrency(ChangeEventArgs e)
    {
        var input = e.Value?.ToString() ?? string.Empty;
        input = new string(input.Where(char.IsDigit).ToArray());
        if (long.TryParse(input, out var parsedValue))
        {
            selectedAttribute.Regular_price = parsedValue;
        }
    }

    private void UpdatePrice(ChangeEventArgs e)
    {
        var input = e.Value?.ToString().Replace(",", "").Replace(".", "");
        if (decimal.TryParse(input, out var parsedPrice))
        {
            selectedAttribute.Regular_price = (long?)Convert.ToInt64(parsedPrice);
        }
    }
    private async Task GoToPage(int page)
    {
        page_number = page;
        await LoadPosts();
    }
    private async Task OnPageSizeChanged(int newPageSize)
    {
        page_size = newPageSize;
        page_number = 1;
        await LoadPosts();
    }
    private async Task ShowAttributes(long productVariantId)
    {
        productAttributesList = await productAttribute.GetProductAttributesByProductVarianId(productVariantId);
        var selectedVariant = product_Varians_list.FirstOrDefault(v => v.Id == productVariantId);
        if (selectedVariant != null)
        {
            productPostTitle = selectedVariant.Posts.Title;
        }
        showAttributes = true;
        StateHasChanged();
    }
    private async Task LoadPosts()
    {
        string searchTerm = string.IsNullOrEmpty(search_query) ? "" : search_query;
        product_Varians_list = await productVarians.GetAllProductVarians();

        Size_list = await SizeServices.GetAll();
        Material_list = await MaterialService.GetAll();
        TextileTechnology_list = await Textile_technologyServices.GetAll();
        Style_list = await StyleServices.GetAll();


        totalItems = await productVarians.GetTotalCountAsync("product", searchTerm);
        total_pages = (int)Math.Ceiling((double)totalItems / page_size);
        StateHasChanged();
    }
    private async Task OnSearch()
    {
        // product_Varians_list = await productVarians.GetByTypeAsync("product", page_number, page_size, search_query);
    }
    private async Task NavEditCtgr(long id)
    {
        Navigation.NavigateTo($"/admin/product/edit/{id}");
    }
    private async Task ConfirmDelete(long id)
    {
        await productVarians.Delete(id);
        await LoadPosts();
    }
    private async Task OpenUpdateProductAttributeModal(long productAttributeId)
    {
        selectedAttribute = await productAttribute.GetProductAttributesById(productAttributeId);
        isUpdateProductAttributeModal = true;
    }
    private void CloseUpdateProductAttributeModal()
    {
        isUpdateProductAttributeModal = false;
    }
    private async Task UpdateProductAttribute()
    {
        if (selectedAttribute != null)
        {
            await productAttribute.Update(selectedAttribute, selectedAttribute.Id);
            await JS.InvokeVoidAsync("toastr.success", "Cập nhật thành công");
            isUpdateProductAttributeModal = false;
            await ShowAttributes(selectedAttribute.Product_Variant_Id);
            LoadPosts();
        }
    }
    private async Task SelectProductAttribute(Product_Attributes attribute)
    {
        selectedAttribute = attribute;
        await JS.InvokeVoidAsync("openMediaModal");
    }

}
<script>
    function openMediaModal() {
        var modalElement = document.getElementById('mediaModal');
        if (modalElement) {
            if (!modalElement._bsModalInstance) {
                modalElement._bsModalInstance = new bootstrap.Modal(modalElement);
            }
            modalElement._bsModalInstance.show();
        }
    }
    function closeMediaModal() {
        var modalElement = document.getElementById('mediaModal');
        if (modalElement && modalElement._bsModalInstance) {
            modalElement._bsModalInstance.hide();
        }
    }
</script>