@page "/admin/post/edit/{id:long}"
@inject NavigationManager nav
@inject IPostSer sev
@inject ITagsServices stag
@inject ICategoriesServices cate
@inject IDesignerServices des
@inject IBannerServices bnser
@inject IJSRuntime JS

<EditForm Model="Posts" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            Sửa bài viết
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <div class="row">
                    <div class="col-md-9 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="title" class="form-label">Tên trang<span class="text-danger">*</span></label>
                                    <InputText id="title" class="form-control" @bind-Value="Posts.Title" placeholder="Tên trang" required />
                                    <div id="title_error" class="validate-error"></div>
                                </div>

                                <div class="mb-3">
                                    <label for="seoSlug" class="form-label">Đường dẫn<span class="text-danger">*</span></label>
                                    <InputText id="seoSlug" class="form-control" @bind-Value="Posts.Slug" />
                                </div>

                                <div class="mb-3">
                                    <label for="shortDescription" class="form-label">Mô tả ngắn</label>
                                    <InputTextArea id="shortDescription" class="form-control" rows="3" @bind-Value="Posts.Short_description" />
                                </div>

                                <div class="mb-3">
                                    <label for="tinymce-textarea" class="form-label">Mô tả</label>
                                    <textarea id="tinymce-textarea" @bind="Posts.Description" class="form-control" rows="7"></textarea>
                                </div>
                            </div>
                        </div>
                        @*  Banner *@
                        <div class="accordion bg-white mt-3">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#banner_block" aria-expanded="true">
                                        Cấu hình banner<span class="text-danger">*</span>
                                    </button>
                                </h2>
                                <div id="banner_block" class="accordion-collapse collapse show">
                                    <div class="card-body pb-4 px-4" style="height: 300px">
                                        <div class="mb-3">
                                            <label for="title" class="form-label">Tiêu đề<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" @bind-value="banner.Name"
                                                   placeholder="Tiêu đề">
                                        </div>
                                        <div>

                                            <div id="banner_image"
                                                 class="image-post-box d-flex align-items-center justify-content-center open-media-modal"
                                                 data-multiple="false"
                                                 data-refer-id="#banner_image" onclick="openMediaBannerModal()">
                                                @if (!string.IsNullOrEmpty(banner.Meta_data))
                                                {
                                                    <img src="@banner.Meta_data" class="object-cover" />
                                                }
                                                else
                                                {
                                                    <div class="icon d-flex align-items-center justify-content-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" stroke-width="1"
                                                             stroke="currentColor" fill="none" stroke-linecap="round"
                                                             stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M12 5l0 14" />
                                                            <path d="M5 12l14 0" />
                                                        </svg>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*    End banner *@
                    </div>
                    <!-- #region Form right -->
                    <div class="col-md-3 col-12">
                        <div class="sticky-top position-sticky">
                            <div class="accordion bg-white mb-3 mt-3 mt-md-0">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button " type="button" data-bs-toggle="collapse"
                                                data-bs-target="#action-1" aria-expanded="true">
                                           Cập nhật
                                        </button>
                                    </h2>
                                    <div class="accordion-collapse collapse show" id="action-1" data-bs-parent="#accordion-example">
                                        <div class="accordion-body pt-0">

                                            <!-- #region trạng thái -->
                                            <div class="form-group mb-3">
                                                <label class="form-label">Trạng thái<span class="text-danger">*</span></label>
                                                <select @bind="Posts.Status" class="form-control">
                                                    @foreach (var status in statuses)
                                                    {
                                                        <option value="@status.Key" selected="@(Posts.Status == status.Key)">
                                                            @status.Value
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                            <!-- #endregion -->                                        
                                            <!-- Nút gửi -->
                                            <button type="submit" class="btn btn-primary" style="float: right">
                                                Sửa bài viết
                                            </button>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #region ảnh đại diện -->
                            <div class="accordion bg-white mb-3">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#feature_image" aria-expanded="true">
                                            Ảnh đại diện
                                        </button>
                                    </h2>
                                    <div class="accordion-collapse collapse show" data-bs-parent="#accordion-example">
                                        <div class="accordion-body pt-0">
                                            <div id="feature_image" class="image-post-box d-flex align-items-center justify-content-center"
                                                 data-multiple="false" data-refer-id="#feature_image" onclick="openMediaModal()">
                                                @if (!string.IsNullOrEmpty(Posts.Feature_image))
                                                {
                                                    <img src="@Posts.Feature_image" class="w-100 h-100 object-cover" />
                                                }
                                                else
                                                {
                                                    <div class="icon d-flex align-items-center justify-content-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" stroke-width="1" stroke="currentColor" fill="none">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                            <path d="M12 5v14" />
                                                            <path d="M5 12h14" />
                                                        </svg>
                                                    </div>
                                                }
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #endregion -->
                            <!--Thư viện ảnh sản phẩm-->
                            <div class="accordion bg-white mb-3">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#imageLibrary" aria-expanded="true">
                                            Thư viện ảnh sản phẩm
                                        </button>
                                    </h2>
                                    <div id="imageLibrary" class="accordion-collapse collapse show">
                                        <div class="accordion-body pt-0">
                                            <div class="image-box-libs">
                                                <div id="image_library" class="image-libs d-grid gap-2 align-items-center">
                                                    @if (!string.IsNullOrEmpty(Posts.Image_library))
                                                    {
                                                        foreach (var img in Posts.Image_library.Split(','))
                                                        {
                                                            <div class="image-item">
                                                                <img src="@img" class="w-100 h-100 object-cover" />
                                                            </div>
                                                        }
                                                    }
                                                    <div class="image-post-box d-flex align-items-center justify-content-center"
                                                         @onclick='() => OpenMediaModalN(true, "image_library")'>
                                                        <div class="icon d-flex align-items-center justify-content-center">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" stroke-width="1" stroke="currentColor" fill="none">
                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                                <path d="M12 5v14" />
                                                                <path d="M5 12h14" />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #region category -->
                            <div class="accordion bg-white mb-3">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button " type="button" data-bs-toggle="collapse"
                                                data-bs-target="#category" aria-expanded="true">
                                            Danh mục bài viết
                                        </button>
                                    </h2>
                                    <div id="category" class="accordion-collapse collapse show"
                                         data-bs-parent="#accordion-example">
                                        <div class="accordion-body pt-0">
                                            <div class="form-group">
                                                <select id="categories" class="form-control" placeholder="Chọn danh mục" multiple>
                                                    @foreach (var cate in CategoriesList)
                                                    {
                                                        <option value="@cate.Id" selected="@SelectedCategories.Contains(cate.Id)">@cate.Title</option>
                                                    }
                                                </select>
                                                <div id="category_ids_error" class="validate-error">
                                                </div>
                                                <a href="javascript:void(0)" id="add_category"
                                                   class="mt-2 mb-2 d-block d-flex gap-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         class="icon icon-tabler icon-tabler-plus" width="10"
                                                         height="10" viewBox="0 0 26 26" stroke-width="1"
                                                         stroke="currentColor" fill="none" stroke-linecap="round"
                                                         stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                        <path d="M12 5l0 14" />
                                                        <path d="M5 12l14 0" />
                                                    </svg>
                                                    <span> Thêm danh mục</span>
                                                </a>
                                                <div class="category-add mt-2 d-none">
                                                    <div class="form-group mb-2">
                                                        <label for="category_title" class="form-label">
                                                            Tiêu
                                                            đề
                                                        </label>
                                                        <input id="category_title" type="text"
                                                               class="form-control" placeholder="Nhập tên danh mục">
                                                    </div>
                                                    <div class="form-group mb-2">
                                                        <label for="category_parent_id" class="form-label">
                                                            Danh mục
                                                            cha
                                                        </label>
                                                        <select id="category_parent_id"
                                                                class="form-control">
                                                            <option value="">Chọn danh mục cha</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="button" id="save_category"
                                                                data-action="{{ route('admin.api.categories.store') }}"
                                                                class="btn btn-primary">
                                                            Lưu
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Từ khóa -->
                            <div class="accordion bg-white mb-3">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tag" aria-expanded="true">
                                            Từ khóa
                                        </button>
                                    </h2>
                                    <div id="tag" class="accordion-collapse collapse show">
                                        <div class="accordion-body pt-0">
                                            <select id="tags-selects" multiple class="form-control" placeholder="Nhập từ khoá">
                                                @foreach (var tag in TagsList)
                                                {
                                                    <option value="@tag.Id" selected="@SelectedTags.Contains(tag.Id)">@tag.Title</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #endregion  Từ khóa(tags) -->

                        </div>
                    </div>
                    <!-- #endregion Form right-->
                </div>
            </div>
        </div>
    </div>
</EditForm>

<Media_modal OnImageSelected="HandleImageSelected" @ref="mediaModalRef"></Media_modal>
<Media_manager OnImageSelected="HandleImageSelectedBanner" @ref="media_ManagerRef"></Media_manager>
<Modal_NImg OnImagesSelectedN="HandleImageSelectedN" @ref="mediaLibraryModal"></Modal_NImg>
@code {
    [Parameter]
    public long Id { get; set; }
    private Product_Posts Posts = new Product_Posts();
    private Banner banner = new Banner();
    private List<Categories> CategoriesList = new List<Categories>();
    private List<Tags> TagsList = new List<Tags>();
    private List<long> SelectedCategories = new List<long>();
    private List<long> SelectedTags = new List<long>();
    private Dictionary<string, string> statuses = Product_Posts.STATUSES;
    private bool tinyMCEInitialized = false;
    private Media_modal mediaModalRef;
    private Modal_NImg mediaLibraryModal;
    private Media_manager media_ManagerRef;
    private long postId;

    private async Task HandleImageSelectedN(List<string> imagePaths)
    {
        Posts.Image_library = string.Join(",", imagePaths);
        StateHasChanged();
        await JS.InvokeVoidAsync("openMediaModalN");
    }

    private async Task HandleImageSelected(string imagePath)
    {
        Posts.Feature_image = imagePath ?? string.Empty;
        StateHasChanged(); // Cập nhật giao diện
        await JS.InvokeVoidAsync("closeMediaModal"); // Gọi hàm JavaScript để đóng modal
    }
    private async Task HandleImageSelectedBanner(string imagePath)
    {
        // Nếu imagePath là null, xóa ảnh banner
        banner.Meta_data = imagePath ?? string.Empty;
        StateHasChanged();
        await JS.InvokeVoidAsync("closeMediaBannerModal");
    }
    private async Task OpenMediaModalN(bool isMultiple, string referId)
    {
        await JS.InvokeVoidAsync("openMediaModalN", isMultiple, referId);
    }
    protected override async Task OnInitializedAsync()
    {

        Posts = await sev.GetByIdType(Id, "post");
        TagsList = await stag.GetAll();
        CategoriesList = await cate.GetAllType("post");
        banner = await bnser.GetBannerByProductPostId(Id);
        SelectedCategories = (await cate.GetCategoryByPosstId(Id))
                          .Where(pc => pc.Post_Id == Id)
                          .Select(pc => pc.Category_Id)
                          .ToList();

        SelectedTags = (await stag.GetTagByPostId(Id))
                        .Where(pt => pt.Post_Id == Id)
                        .Select(pt => pt.Tag_Id)
                        .ToList();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !tinyMCEInitialized)
        {
            await JS.InvokeVoidAsync("initTinyMCE");
            tinyMCEInitialized = true;
        }
        if (TagsList?.Count > 0)
        {
            await JS.InvokeVoidAsync("initializeTagsList", TagsList);
            await JS.InvokeVoidAsync("initializeTomSelect", "#tags-selects");
        }
        if (CategoriesList?.Count > 0)
        {
            await JS.InvokeVoidAsync("initializeCateList", CategoriesList);
            await JS.InvokeVoidAsync("initializeTomSelectForCategories", "#categories");
        }
    }


    public async ValueTask DisposeAsync()
    {
        if (tinyMCEInitialized)
        {
            await JS.InvokeVoidAsync("tinymce.remove", "#tinymce-textarea");
        }
    }

    private async void HandleValidSubmit()
    {
        bool confirmed = await JS.InvokeAsync<bool>("confirm", "Xác nhận cập nhật bài viết ?");
        if (confirmed)
        {
            Posts.Description = await JS.InvokeAsync<string>("getTinyMCEContent");

            var tags = await JS.InvokeAsync<string>("getSelectedValues", "#tags-selects");
            SelectedTags = string.IsNullOrEmpty(tags)
                ? new List<long>() // Nếu tags rỗng, tạo danh sách trống
                : tags.Split(',').Select(id => long.TryParse(id, out long result) ? result : 0).Where(id => id > 0).ToList();

            var categories = await JS.InvokeAsync<string>("getSelectedValues", "#categories");
            SelectedCategories = string.IsNullOrEmpty(categories)
                ? new List<long>() // Nếu categories rỗng, tạo danh sách trống
                : categories.Split(',').Select(id => long.TryParse(id, out long result) ? result : 0).Where(id => id > 0).ToList();
            try
            {
                postId = await sev.Updatetagcate(Posts, SelectedTags, SelectedCategories);
                await bnser.Update(banner, postId);
                await JS.InvokeVoidAsync("toastr.success", "Sửa bài viết thành công");
                nav.NavigateTo("/admin/post");
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error: {ex.Message}");
                await JS.InvokeVoidAsync("toastr.error", "Không thể sửa bài viết. Vui lòng thử lại.");
            }
        }

        
    }
}
