@page "/admin/post"
@inject NavigationManager nav
@inject IPostSer sev
@inject IJSRuntime JS

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col d-flex gap-3">
                    <h2 class="page-title">
                        Danh sách bài viết
                    </h2>
                    <a href="/admin/post/create" class="btn btn-sm btn-outline-primary">
                        Thêm bài viết
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="card">
                <div class="card-body">
                    <div class="search-box d-flex align-items-center justify-content-between mb-3">
                        <div></div>
                        <EditForm Model="product_posts" OnValidSubmit="@OnSearch">
                            <div class="form-group d-flex gap-2">
                                <InputText id="search_input" class="form-control" @bind-Value="search_query" placeholder="Nhập từ khóa tìm kiếm" />
                                <button type="submit" class="btn btn-outline-primary">Tìm kiếm</button>
                            </div>
                        </EditForm>
                    </div>

                    <div id="table-default" class="table-responsive">
                        @if (product_posts_list != null && product_posts_list.Any())
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>
                                            <button class="table-sort" data-sort="sort-title">Tiêu đề</button>
                                        </th>
                                        <th>
                                            <button class="table-sort" data-sort="sort-city">Tác giả</button>
                                        </th>
                                        <th>
                                            <button class="table-sort" data-sort="sort-type">Chuyên mục</button>
                                        </th>
                                        <th>
                                            <button class="table-sort" data-sort="sort-score">Thẻ</button>
                                        </th>
                                        <th>
                                            <button class="table-sort" data-sort="sort-score">Trạng thái</button>
                                        </th>
                                        <th>
                                            <button class="table-sort" data-sort="sort-date">Thời gian</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int stt = (page_number - 1) * page_size + 1;
                                    }
                                    @foreach (var post in product_posts_list)
                                    {
                                        <tr class="post-row">
                                            <td>@stt</td>
                                            <td class="sort-title">
                                                @post.Title
                                                <br />
                                                <!-- Tạo các hành động sửa và xóa cho sản phẩm con -->
                                                <div class="cell-action">
                                                    <a class="cell-action-edit text-primary" @onclick="() => NavEditCtgr(post.Id)">Chỉnh sửa</a>
                                                    <a class="cell-action-delete text-danger" @onclick=" async () => await NavDeleteCtgr(post.Id)">Thùng rác</a>
                                                </div>
                                            </td>
                                            <td class="sort-city">
                                                @post.Designer?.Name
                                            </td>

                                            <td class="sort-type">
                                                @if (post.Post_categories != null && post.Post_categories.Any())
                                                {
                                                    <span>
                                                        @string.Join(", ", post.Post_categories.Select(category => category.Categories.Title))
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span>Không có danh mục</span>
                                                }
                                            </td>
                                            <td class="sort-score">
                                                @if (post.Post_tags != null && post.Post_tags.Any())
                                                {
                                                    <span>
                                                        @string.Join(", ", post.Post_tags.Select(tag => tag.Tag.Title))
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span>Không có thẻ tags</span>
                                                }
                                            </td>
                                            <td class="sort-status">
                                                <span class="@post.StatusClass">@post.StatusLabel</span>
                                            </td>
                                            <td class="sort-date">@post.Created_at.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                        </tr>
                                        stt++;
                                    }
                                </tbody>
                            </table>
                            <div class="mt-4">
                                <Pagination TItem="Product_Posts" PageNumber="page_number" TotalPages="total_pages" PageSize="page_size" TotalItems="totalItems" OnPageChanged="GoToPage" OnPageSizeChanged="OnPageSizeChanged" />
                            </div>
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-center">Không có dữ liệu</td>
                            </tr>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<Product_Posts> product_posts_list = new List<Product_Posts>();
    private Product_Posts product_posts = new Product_Posts();
    private string search_query = string.Empty;
    private int page_number = 1;
    private int total_pages = 1;
    private int page_size = 10;
    private int totalItems;

    private async Task OnSearch()
    {
        product_posts_list = await sev.GetByTypeAsync("post", page_number, page_size, search_query);
    }
    private async Task LoadPosts()
    {

        string searchTerm = string.IsNullOrEmpty(search_query) ? "" : search_query;
        product_posts_list = await sev.GetByTypeAsync("post", page_number, page_size, searchTerm);
        totalItems = await sev.GetTotalCountAsync("post", searchTerm);
        total_pages = (int)Math.Ceiling((double)totalItems / page_size);
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadPosts();
    }
    private async Task GoToPage(int page)
    {
        page_number = page;
        await LoadPosts();
    }

    private async Task OnPageSizeChanged(int newPageSize)
    {
        page_size = newPageSize;
        page_number = 1;
        await LoadPosts();
    }
    
    protected async Task NavEditCtgr(long id)
    {
        nav.NavigateTo($"/admin/post/edit/{id}", forceLoad: true);
    }
    protected async Task NavDeleteCtgr(long id)
    {
        try
        {
            await sev.Delete(id);
            await JS.InvokeVoidAsync("toastr.success", "Xóa bản ghi thành công");
            await LoadPosts();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            await JS.InvokeVoidAsync("toastr.error", "Không thể xoá bản ghi. Vui lòng thử lại.");
        }
    }


}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="assets/libs/tabler/libs/list.js/dist/list.min.js" defer=""></script>