 @page "/"
 @using BlazorBootstrap
 @inject IPostSer sev
 @inject IProductVariantServices varian
 @inject IOrderIServices orde
 @inject IUserService usesv
 @inject NavigationManager nav
 @inject IJSRuntime JS
 @using System.Text.Json



<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    HangKenh
                </div>
                <h2 class="page-title">
                    Thống kê
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader">
                                @GetSubheaderTitle()

                            </div>
                            <div class="ms-auto lh-1">
                                <div class="dropdown">
                                    <a class="dropdown-toggle text-secondary" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Doanh số
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item @(selectedMode == "day" ? "active" : "")" href="#" @onclick='() => SetMode("day")'>Doanh số ngày</a>
                                        <a class="dropdown-item @(selectedMode == "week" ? "active" : "")" href="#" @onclick='() => SetMode("week")'>Doanh số tuần</a>
                                        <a class="dropdown-item @(selectedMode == "month" ? "active" : "")" href="#" @onclick='() => SetMode("month")'>Doanh số tháng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3"></div>
                        <div class="h1 mb-3">
                            @DisplayRevenue()
                        </div>                 
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader">
                                @GetSubheaderTitleUser()
                            </div>
                            <div class="ms-auto lh-1">
                                <div class="dropdown">
                                    <a class="dropdown-toggle text-secondary" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Khách hàng
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item @(selectedModeUser == "dayUser" ? "active" : "")" href="#" @onclick='() => SetModeUser("dayUser")'>Khách hàng mới theo ngày</a>
                                        <a class="dropdown-item @(selectedModeUser == "monthUser" ? "active" : "")" href="#" @onclick='() => SetModeUser("monthUser")'>Khách hàng mới theo tháng</a>
                                        <a class="dropdown-item @(selectedModeUser == "yearUser" ? "active" : "")" href="#" @onclick='() => SetModeUser("yearUser")'>Khách hàng mới theo năm</a>
                                        <a class="dropdown-item @(selectedModeUser == "totalUser" ? "active" : "")" href="#" @onclick='() => SetModeUser("totalUser")'>Tổng số khách hàng mới</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3"></div>
                        <div class="d-flex align-items-baseline">
                            <div class="h1 mb-0 me-2">
                                @DisplayRevenueUser()
                            </div>                      
                        </div>
                    </div>
          
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader">Doanh số tháng</div>
                        </div>
                        <div class="mb-3"></div>
                        <div class="d-flex align-items-baseline">
                            <div class="h1 mb-3 me-2">@totalPiceMonth.ToString("N0") VND</div>
                                                   
                        </div>
                   
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader">Tổng số đơn đã bán</div>
                            @*   <div class="ms-auto lh-1">
                            <div class="dropdown">
                            <a class="dropdown-toggle text-secondary" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 7 days</a>
                            <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item active" href="#">Last 7 days</a>
                            <a class="dropdown-item" href="#">Last 30 days</a>
                            <a class="dropdown-item" href="#">Last 3 months</a>
                            </div>
                            </div>
                            </div> *@
                        </div>
                        <div class="mb-3"></div>
                        <div class="d-flex align-items-baseline">
                            <div class="h1 mb-3 me-2">@totalOrder</div>
                 
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row row-cards">
                    <div class="col-sm-6 col-lg-3">
                        <div class="card card-sm">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="bg-green text-white avatar">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /></svg>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <div class="font-weight-medium">
                                            Đơn hàng hôm nay
                                        </div>
                                        <div class="text-secondary">
                                            @totalOrderToday
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card card-sm">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="bg-primary text-white avatar">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-book"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" /><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" /><path d="M3 6l0 13" /><path d="M12 6l0 13" /><path d="M21 6l0 13" /></svg>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <div class="font-weight-medium">
                                            Tổng số bài viết
                                        </div>
                                        <div class="text-secondary">
                                            @totalPost
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card card-sm">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="bg-twitter text-white avatar">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-building-store"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 21l18 0" /><path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4" /><path d="M5 21l0 -10.15" /><path d="M19 21l0 -10.15" /><path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" /></svg>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <div class="font-weight-medium">
                                            Tổng số sản phẩm
                                        </div>
                                        <div class="text-secondary">
                                            @totalProduct
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card card-sm">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="bg-facebook text-white avatar">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/brand-facebook -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-presentation"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 4l18 0" /><path d="M4 4v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-10" /><path d="M12 16l0 4" /><path d="M9 20l6 0" /><path d="M8 12l3 -3l2 2l3 -3" /></svg>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <div class="font-weight-medium">
                                            Tổng số dự án
                                        </div>
                                        <div class="text-secondary">
                                            @totalProjetc
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Doanh số theo từng năm</h3>

                        <div id="revenueChart"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Tổng đơn hàng theo từng tháng</h3>

                        <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 350px;">
                            <div style="width: 350px; height: 350px;">
                                <canvas id="orderDoughnutChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Most Visited Pages</h3>
                    </div>
                    <div class="card-table table-responsive">
                        <table class="table table-vcenter">
                            <thead>
                                <tr>
                                    <th>Page name</th>
                                    <th>Visitors</th>
                                    <th>Unique</th>
                                    <th colspan="2">Bounce rate</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    /
                                    <a href="#" class="ms-1" aria-label="Open website">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 15l6 -6" /><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" /><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" /></svg>
                                    </a>
                                </td>
                                <td class="text-secondary">4,896</td>
                                <td class="text-secondary">3,654</td>
                                <td class="text-secondary">82.54%</td>
                                <td class="text-end w-1">
                                    <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-1"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    /form-elements.html
                                    <a href="#" class="ms-1" aria-label="Open website">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 15l6 -6" /><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" /><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" /></svg>
                                    </a>
                                </td>
                                <td class="text-secondary">3,652</td>
                                <td class="text-secondary">3,215</td>
                                <td class="text-secondary">76.29%</td>
                                <td class="text-end w-1">
                                    <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-2"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    /index.html
                                    <a href="#" class="ms-1" aria-label="Open website">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 15l6 -6" /><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" /><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" /></svg>
                                    </a>
                                </td>
                                <td class="text-secondary">3,256</td>
                                <td class="text-secondary">2,865</td>
                                <td class="text-secondary">72.65%</td>
                                <td class="text-end w-1">
                                    <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-3"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    /icons.html
                                    <a href="#" class="ms-1" aria-label="Open website">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 15l6 -6" /><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" /><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" /></svg>
                                    </a>
                                </td>
                                <td class="text-secondary">986</td>
                                <td class="text-secondary">865</td>
                                <td class="text-secondary">44.89%</td>
                                <td class="text-end w-1">
                                    <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-4"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    /docs/
                                    <a href="#" class="ms-1" aria-label="Open website">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 15l6 -6" /><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" /><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" /></svg>
                                    </a>
                                </td>
                                <td class="text-secondary">912</td>
                                <td class="text-secondary">822</td>
                                <td class="text-secondary">41.12%</td>
                                <td class="text-end w-1">
                                    <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-5"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    /accordion.html
                                    <a href="#" class="ms-1" aria-label="Open website">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 15l6 -6" /><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" /><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" /></svg>
                                    </a>
                                </td>
                                <td class="text-secondary">855</td>
                                <td class="text-secondary">798</td>
                                <td class="text-secondary">32.65%</td>
                                <td class="text-end w-1">
                                    <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-6"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="https://github.com/sponsors/codecalm" class="card card-sponsor" target="_blank" rel="noopener" style="background-image: url(./static/sponsor-banner-homepage.svg)" aria-label="Sponsor Tabler!">
                    <div class="card-body"></div>
                </a>
            </div>


            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Invoices</h3>
                    </div>
                    <div class="card-body border-bottom py-3">
                        <div class="d-flex">
                            <div class="text-secondary">
                                Show
                                <div class="mx-2 d-inline-block">
                                    <input type="text" class="form-control form-control-sm" value="8" size="3" aria-label="Invoices count">
                                </div>
                                entries
                            </div>
                            <div class="ms-auto text-secondary">
                                Search:
                                <div class="ms-2 d-inline-block">
                                    <input type="text" class="form-control form-control-sm" aria-label="Search invoice">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all invoices"></th>
                                    <th class="w-1">
                                        No. <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M6 15l6 -6l6 6" /></svg>
                                    </th>
                                    <th>Invoice Subject</th>
                                    <th>Client</th>
                                    <th>VAT No.</th>
                                    <th>Created</th>
                                    <th>Status</th>
                                    <th>Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select invoice"></td>
                                    <td><span class="text-secondary">001401</span></td>
                                    <td><a href="invoice.html" class="text-reset" tabindex="-1">Design Works</a></td>
                                    <td>
                                        <span class="flag flag-xs flag-country-us me-2"></span>
                                        Carlson Limited
                                    </td>
                                    <td>
                                        87956621
                                    </td>
                                    <td>
                                        15 Dec 2017
                                    </td>
                                    <td>
                                        <span class="badge bg-success me-1"></span> Paid
                                    </td>
                                    <td>$887</td>
                                    <td class="text-end">
                                        <span class="dropdown">
                                            <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">
                                                    Action
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    Another action
                                                </a>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select invoice"></td>
                                    <td><span class="text-secondary">001402</span></td>
                                    <td><a href="invoice.html" class="text-reset" tabindex="-1">UX Wireframes</a></td>
                                    <td>
                                        <span class="flag flag-xs flag-country-gb me-2"></span>
                                        Adobe
                                    </td>
                                    <td>
                                        87956421
                                    </td>
                                    <td>
                                        12 Apr 2017
                                    </td>
                                    <td>
                                        <span class="badge bg-warning me-1"></span> Pending
                                    </td>
                                    <td>$1200</td>
                                    <td class="text-end">
                                        <span class="dropdown">
                                            <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">
                                                    Action
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    Another action
                                                </a>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select invoice"></td>
                                    <td><span class="text-secondary">001403</span></td>
                                    <td><a href="invoice.html" class="text-reset" tabindex="-1">New Dashboard</a></td>
                                    <td>
                                        <span class="flag flag-xs flag-country-de me-2"></span>
                                        Bluewolf
                                    </td>
                                    <td>
                                        87952621
                                    </td>
                                    <td>
                                        23 Oct 2017
                                    </td>
                                    <td>
                                        <span class="badge bg-warning me-1"></span> Pending
                                    </td>
                                    <td>$534</td>
                                    <td class="text-end">
                                        <span class="dropdown">
                                            <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">
                                                    Action
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    Another action
                                                </a>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select invoice"></td>
                                    <td><span class="text-secondary">001404</span></td>
                                    <td><a href="invoice.html" class="text-reset" tabindex="-1">Landing Page</a></td>
                                    <td>
                                        <span class="flag flag-xs flag-country-br me-2"></span>
                                        Salesforce
                                    </td>
                                    <td>
                                        87953421
                                    </td>
                                    <td>
                                        2 Sep 2017
                                    </td>
                                    <td>
                                        <span class="badge bg-secondary me-1"></span> Due in 2 Weeks
                                    </td>
                                    <td>$1500</td>
                                    <td class="text-end">
                                        <span class="dropdown">
                                            <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">
                                                    Action
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    Another action
                                                </a>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select invoice"></td>
                                    <td><span class="text-secondary">001405</span></td>
                                    <td><a href="invoice.html" class="text-reset" tabindex="-1">Marketing Templates</a></td>
                                    <td>
                                        <span class="flag flag-xs flag-country-pl me-2"></span>
                                        Printic
                                    </td>
                                    <td>
                                        87956621
                                    </td>
                                    <td>
                                        29 Jan 2018
                                    </td>
                                    <td>
                                        <span class="badge bg-danger me-1"></span> Paid Today
                                    </td>
                                    <td>$648</td>
                                    <td class="text-end">
                                        <span class="dropdown">
                                            <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">
                                                    Action
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    Another action
                                                </a>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select invoice"></td>
                                    <td><span class="text-secondary">001406</span></td>
                                    <td><a href="invoice.html" class="text-reset" tabindex="-1">Sales Presentation</a></td>
                                    <td>
                                        <span class="flag flag-xs flag-country-br me-2"></span>
                                        Tabdaq
                                    </td>
                                    <td>
                                        87956621
                                    </td>
                                    <td>
                                        4 Feb 2018
                                    </td>
                                    <td>
                                        <span class="badge bg-secondary me-1"></span> Due in 3 Weeks
                                    </td>
                                    <td>$300</td>
                                    <td class="text-end">
                                        <span class="dropdown">
                                            <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">
                                                    Action
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    Another action
                                                </a>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select invoice"></td>
                                    <td><span class="text-secondary">001407</span></td>
                                    <td><a href="invoice.html" class="text-reset" tabindex="-1">Logo & Print</a></td>
                                    <td>
                                        <span class="flag flag-xs flag-country-us me-2"></span>
                                        Apple
                                    </td>
                                    <td>
                                        87956621
                                    </td>
                                    <td>
                                        22 Mar 2018
                                    </td>
                                    <td>
                                        <span class="badge bg-success me-1"></span> Paid Today
                                    </td>
                                    <td>$2500</td>
                                    <td class="text-end">
                                        <span class="dropdown">
                                            <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">
                                                    Action
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    Another action
                                                </a>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select invoice"></td>
                                    <td><span class="text-secondary">001408</span></td>
                                    <td><a href="invoice.html" class="text-reset" tabindex="-1">Icons</a></td>
                                    <td>
                                        <span class="flag flag-xs flag-country-pl me-2"></span>
                                        Tookapic
                                    </td>
                                    <td>
                                        87956621
                                    </td>
                                    <td>
                                        13 May 2018
                                    </td>
                                    <td>
                                        <span class="badge bg-success me-1"></span> Paid Today
                                    </td>
                                    <td>$940</td>
                                    <td class="text-end">
                                        <span class="dropdown">
                                            <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">
                                                    Action
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    Another action
                                                </a>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer d-flex align-items-center">
                        <p class="m-0 text-secondary">Showing <span>1</span> to <span>8</span> of <span>16</span> entries</p>
                        <ul class="pagination m-0 ms-auto">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M15 6l-6 6l6 6" /></svg>
                                    prev
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 6l6 6l-6 6" /></svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    private string selectedMode = "day";
    private Dictionary<int, decimal> totalRevenuePerYear = new Dictionary<int, decimal>();
    private Dictionary<string, int> totalOrdersPerMonth = new Dictionary<string, int>();
    private int totalPost;
    private int totalProduct;
    private int totalProjetc;
    private int totalOrder;
    private int totalOrderToday;
    private decimal totalPiceToday;
    private decimal totalPiceWeek;
    private decimal totalPiceMonth;
    private string selectedModeUser = "day";
    private int totalUserToday;
    private int totalUserToMonth;
    private int totalUserToYear;
    private int totalUser;


    private async Task LoadPosts()
    {
        totalPost = await sev.GetTotalType("post");
        totalProjetc = await sev.GetTotalType("project");
        totalProduct = await varian.GetTotal();
        totalOrder = await orde.GetTotal();
        totalOrderToday = await orde.GetTotalToday();
        totalPiceToday = await orde.GetTotalPiceToday();
        totalPiceWeek = await orde.GetTotalPiceWeek();
        totalPiceMonth = await orde.GetTotalPiceMonth();
        totalRevenuePerYear = await orde.GetTotalRevenuePerYear();
        totalOrdersPerMonth = await orde.GetTotalMonth();
        totalUserToday = await usesv.GetTotalUsersByDayAsync();
        totalUserToMonth = await usesv.GetTotalUsersByMonthAsync();
        totalUserToYear = await usesv.GetTotalUsersByYearAsync();
        totalUser = await usesv.GetTotalUsersAsync();
        await DrawChart();
        StateHasChanged();
    }
    private void SetMode(string mode)
    {
        selectedMode = mode;
        StateHasChanged();
    }
    private void SetModeUser(string mode)
    {
        selectedModeUser = mode;
        StateHasChanged();  // Đảm bảo rằng sau khi thay đổi giá trị, trang sẽ được render lại
    }

    private string DisplayRevenue()
    {
        return selectedMode switch
        {
            "day" => $"{totalPiceToday.ToString("N0")} VND",
            "week" => $"{totalPiceWeek.ToString("N0")} VND",
            "month" => $"{totalPiceMonth.ToString("N0")} VND",
            _ => "0 VND"
        };
    }

    private string GetSubheaderTitle()
    {
        return selectedMode switch
        {
            "day" => "Doanh số hôm nay",
            "week" => "Doanh số tuần này",
            "month" => "Doanh số tháng này",
            _ => "Doanh số"
        };
    }

    private string DisplayRevenueUser()
    {
        return selectedModeUser switch
        {
            "dayUser" => $"{totalUserToday} Người",
            "monthUser" => $"{totalUserToMonth} Người",
            "yearUser" => $"{totalUserToYear} Người",
            "totalUser" => $"{totalUser} Người",
            _ => "0 Người"
        };
    }

    private string GetSubheaderTitleUser()
    {
        return selectedModeUser switch
        {
            "dayUser" => "Khách mới hôm nay",
            "monthUser" => "Khách mới tháng này",
            "yearUser" => "Khách mới năm nay",
            "totalUser" => "Tổng số khách hàng",
            _ => "Khách hàng"
        };
    }
    private async Task DrawChart()
    {
        // Tạo danh sách các năm và doanh thu tương ứng từ dữ liệu
        var years = totalRevenuePerYear.Keys.ToArray();
        var revenues = totalRevenuePerYear.Values.ToArray();

        // Cấu hình cho ApexCharts
        var options = new
        {
            chart = new
            {
                type = "bar",
                height = "350"
            },
            series = new[]
            {
                new
                {
                    name = "Doanh thu",
                    data = revenues
                }
            },
            xaxis = new
            {
                categories = years
            },
            title = new
            {
                text = ""
            }
        };

        // Chuyển đối tượng options thành JSON
        var jsonOptions = JsonSerializer.Serialize(options);

        // Chạy ApexCharts và truyền options vào
        JS.InvokeVoidAsync("eval", $"var chart = new ApexCharts(document.querySelector('#revenueChart'), {jsonOptions}); chart.render();");
        var months = totalOrdersPerMonth.Keys.ToArray();
        var orderCounts = totalOrdersPerMonth.Values.ToArray();
        // Cấu hình cho Chart.js (Biểu đồ Doughnut)
        var optionsdoughnut = new
        {
            type = "doughnut",
            data = new
            {
                labels = months,
                datasets = new[]
                {
                new
                {
                    label = "Số lượng đơn hàng",
                    data = orderCounts,
                    backgroundColor = new[] { "#FFB84C" ,"#FF6F61", "#FF7F50", "#6B8E23", "#48C9B0", "#F39C12", "#8E44AD" }, // Các màu sắc cho các phần trong Doughnut chart
                    hoverBackgroundColor = new[] { "#FFA500",  "#FF4500", "#FF6347", "#556B2F", "#20B2AA", "#DFFF00", "#8B008B" }
                }
            }
            },
            options = new
            {
                responsive = true,
                plugins = new
                {
                    legend = new
                    {
                        position = "top"
                    }
                }
            }
        };

        // Chuyển đối tượng options thành JSON
        var jsonOptionsdoughnut = JsonSerializer.Serialize(optionsdoughnut);

        // Vẽ biểu đồ bằng cách sử dụng Chart.js thông qua JSRuntime
        JS.InvokeVoidAsync("eval", $"var ctx = document.getElementById('orderDoughnutChart').getContext('2d'); new Chart(ctx, {jsonOptionsdoughnut});");


    }

    protected override async Task OnInitializedAsync()
    {
        await LoadPosts();
    }
}
