@page "/admin/product/categorie"
@inject NavigationManager nav
@inject ICategoriesServices sev
@inject IJSRuntime JS


<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col d-flex gap-3">
                    <h2 class="page-title">
                        Danh sách chuyên mục
                    </h2>
                    <a href="/admin/product/categorie/create" class="btn btn-sm btn-outline-primary">
                        Thêm chuyên mục
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="card">
                <div class="card-body">
                    <div class="search-box d-flex align-items-center justify-content-between mb-3">
                        <div></div>
                        <EditForm Model="categories" OnValidSubmit="@OnSearch">
                            <div class="form-group d-flex gap-2">
                                <InputText id="search_input" class="form-control" @bind-Value="search_query" placeholder="Nhập từ khóa tìm kiếm" />
                                <button type="submit" class="btn btn-outline-primary">Tìm kiếm</button>
                            </div>
                        </EditForm>
                    </div>

                    <div id="table-default" class="table-responsive">
                        @if (categoriesList != null && categoriesList.Any())
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <button class="table-sort" @* @onclick='() => SortBy("id")' *@>ID</button>
                                        </th>
                                        <th>
                                            <button class="table-sort" @* @onclick='() => SortBy("title")' *@>Tiêu đề</button>
                                        </th>
                                        <th>
                                            <button class="table-sort" @* @onclick='() => SortBy("slug")' *@>Đường dẫn</button>
                                        </th>
                                        <th>
                                            <button class="table-sort" @* @onclick='() => SortBy("create_at")' *@>Thời gian</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        int stt = (page_number - 1) * page_size + 1;
                                    }
                                    @foreach (var ctgr in categoriesList.Where(ctgr => ctgr.Parent_id == 0))
                                    {
                                        // Hiển thị sản phẩm cha
                                        <tr class="post-row">
                                            <td>@stt</td>
                                            <td>
                                                <a href="@($"/admin/manager-attribute?parent_id={ctgr.Id}")">@ctgr.Title</a>
                                                <br />
                                                <!-- Tạo các hành động sửa và xóa -->
                                                <div class="cell-action">
                                                    <a class="cell-action-edit text-primary" @onclick="() => NavEditCtgr(ctgr.Id)">Chỉnh sửa</a>
                                                    <a class="cell-action-delete text-danger" @onclick="() => NavDeleteCtgr(ctgr.Id)">Thùng rác</a>
                                                </div>
                                            </td>
                                            <td>@ctgr.Slug</td>
                                            <td>@ctgr.Created_at.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                        </tr>
                                        stt++;
                                    }
                                </tbody>
                            </table>
                            <div class="mt-4">
                                <Pagination TItem="Categories" PageNumber="page_number" TotalPages="total_pages" PageSize="page_size" TotalItems="totalItems" OnPageChanged="GoToPage" OnPageSizeChanged="OnPageSizeChanged" />
                            </div>
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="text-center">Không có dữ liệu</td>
                            </tr>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code
{
    List<Categories> categoriesList;
    private Categories categories = new Categories();
    private string search_query = string.Empty;
    private int page_number = 1;
    private int total_pages = 1;
    private int page_size = 10;
    private int totalItems;
    private async Task OnSearch()
    {
        categoriesList = await sev.GetByTypeAsync("product", page_number, page_size, search_query);
    }
    private async Task LoadPosts()
    {
        string searchTerm = string.IsNullOrEmpty(search_query) ? "" : search_query;
        categoriesList = await sev.GetByTypeAsync("product", page_number, page_size, searchTerm);
        totalItems = await sev.GetTotalCountAsync("product", searchTerm);
        total_pages = (int)Math.Ceiling((double)totalItems / page_size);
        StateHasChanged();
    }

    private async Task GoToPage(int page)
    {
        page_number = page;
        await LoadPosts();
    }

    private async Task OnPageSizeChanged(int newPageSize)
    {
        page_size = newPageSize;
        page_number = 1;
        await LoadPosts();
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadPosts();
    }
    protected async Task NavEditCtgr(long id)
    {
        nav.NavigateTo($"/admin/categorie/edit/{id}");
    }
    private async Task NavDeleteCtgr(long id)
    {
        try
        {
            await sev.Delete(id);
            // Cập nhật danh sách sau khi xóa, chỉ lấy những màu chưa bị xóa
            await JS.InvokeVoidAsync("toastr.success", "Xóa bản ghi thành công!");
            await LoadPosts();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            await JS.InvokeVoidAsync("toastr.error", "Không thể xoá bản ghi. Vui lòng thử lại.");
        }
    }
}